<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<p>
	  New user registered at idlast service
	</p>
    <p>
	  Name: <%= @user.name %>
	  <br />
	  E-mail: <%= @user.email %>
	</p>
  </body>
</html>
