<table class="table table-striped">
<% @pioneers.each do |pioneer| %>
  <tr>
	<td>
	  <p># <%= pioneer.masked_id %></p>
	</td>
	<td>
	  <p><%= pioneer.approved_at.to_s(:pioneer_datetime) %></p>
	</td>
	<td>
	  <p><%= pioneer.user_name %></p>
	</td>
  </tr>
<% end %>
</table>
<div style="margin-left:130px;">
  <%= will_paginate @pioneers %>
</div>
