<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to admin_path, class: "brand" do %>
	  <span style="color:red;">Admin Panel</span>
	  <% end %>
      <div class="container nav-collapse">
		<ul class="nav">
		  <%= li_link_to "Frontend", root_path %>
		</ul> <!-- ul class nav -->

		<ul class="nav pull-right">
		  <li><%= link_to "My profile", user_path(current_user) %></li>
		  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        </ul>

      </div><!--/.nav-collapse -->

    </div>
  </div>
</div>
