<div class="row">
  <div class="span4">
	<img src="/assets/maks.jpg" class="img-polaroid">
  </div>
  <div class="span4 offset1">
	<p><b>Максим (Paulus)</b></p>
	<p>Основатель и идейный вдохновитель проекта.</p>
	<p>По образованию и основному месту работы инженер по телекоммуникациям. Стоки второй заработок, хобби и может быть скоро станут основной работой. Без ума от Adobe Illustrator. На досуге любит почитать Харука Мураками и послушать Джо Кокера. Восхищается работами и книгами дизайнера  <a href="http://miumau.livejournal.com/" target="_blank">Яны Франк</a>.</p>
	<p>Максим в <a href="http://twitter.com/SerDotak" target="_blank">твиттере.</a></p>
  </div>
</div>
<br />

<div class="row">
  <div class="span4">
	<p><b>Anton Sizov</b></p>
	<p>Основатель. Программист. C профессиональными достижениями Антона Вы можете познакомиться на <a href="http://www.linkedin.com/profile/view?id=199293834" target="_blank">linkedin</a>. Frontend и прочая программная начинка сайта полностью написаны Антоном.</p>
  </div>
  <div class="span4 offset1">
	<img src="/assets/anton.jpg" class="img-polaroid">
  </div>
</div>
<br />

<div class="row">
  <div class="alert alert-info">
	Вы можете связаться с нами написав письмо на адрес support[собачка]idlast.com
  </div>
</div>
