<h3>
  <%= @user.name %>
</h3>

<table class="table table-striped">
  <% @user.attributes.each do |key, value| %>
  <tr>
	<td>
	  <%= key %>
	</td>
	<td>
	  <%= value if !key["password"] %>
	</td>
  </tr>
  <% end %>
</table>
