<div class="well sidebar-nav">
  <ul class="nav nav-list">
	<%= li_link_to "Users", admin_users_path %>
	<%= li_link_to "Pioneers", admin_pioneers_path %>
	<%= li_link_to "Articles", admin_articles_path %>
  </ul>
</div><!--/.well -->
