<form class="form-signin">
  <input type="text" class="input-block-level" placeholder="Your Email address">
  <input type="password" class="input-block-level" placeholder="Create Password">
  <button class="btn btn-large btn-primary" type="submit">Join</button>
</form>
